MAILTO=""
*/6 * * * * /home/dotcloud/env/bin/python /home/dotcloud/current/pypi_mirrors.py >> /var/log/supervisor/cron.log
* 12 * * * /home/dotcloud/env/bin/python /home/dotcloud/current/daily.py >> /var/log/supervisor/cron-daily.log
